.button {
  padding: 10px 15px;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
