.main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  //   justify-content: center;
  align-items: center;
  gap: 15px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .profile {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    margin-left: 20px;
  }

  .input {
    margin-left: 20px;
    font-size: 15px;
    width: 150px;
    border-radius: 5px;
    padding-left: 5px;
    border-color: var(--tg-theme-button-text-color);
  }
}
