.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;

  .input {
    margin-left: 22px;
    font-size: 18px;
    width: 250px;
    margin-top: 2px;
  }
  .span {
    width: 250px;
    font-weight: 500;
    font-size: 16px;
  }
}
